html {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: black;
}

header {
  width: 900px;
  border-bottom: 15px solid black;
  border-top: 15px solid black;
}

.navbar {
  display: flex;
  background: black;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

a {
  color: hsl(0, 1%, 90%);
  margin-left: 20px;
  margin-right: 20px;
  font-family: Copse;
  font-style: italic;
  text-decoration: none;
  font-size: 20px;
}

a:hover {
  background-color: #fff;
  box-shadow:
    0 0 20px 10px #fff,
    0 0 50px 50px #ff0000;
}

body {
  width: 900px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.hi {
  position: relative;
  display: flex;
  flex-direction: row;
}

.glow_1 {
  position: absolute;
  left: 140px;
  top: 165px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow:
    0 0 20px 10px #fff,
    0 0 50px 50px #ff0000;
}
.glow_2 {
  position: absolute;
  left: 285px;
  top: 165px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow:
    0 0 20px 10px #fff,
    0 0 50px 50px #ff0000;
}

.pic {
  width: 400px;
  height: 500px;
  object-fit: cover;
  object-position: 51%;
  border-radius: 0 0 10px 10px;
}

#HL_1 {
  position: absolute;
  left: 50px;
  bottom: 150px;
  font-family: Lora;
  font-size: 28px;
  color: black;
  background-color: hsl(0, 1%, 90%);
  border-left: 10px solid hsl(0, 1%, 90%);
  border-right: 10px solid hsl(0, 1%, 90%);
  border-bottom: 5px solid hsl(0, 1%, 90%);
  border-radius: 10px 10px 0 0;
}

#HL_2 {
  position: absolute;
  left: 50px;
  bottom: 0px;
  font-family: Lora;
  font-size: 60px;
  line-height: 60px;
  color: black;
  background-color: hsl(0, 1%, 90%);
  border-left: 10px solid hsl(0, 1%, 90%);
  border-right: 10px solid hsl(0, 1%, 90%);
  border-bottom: 10px solid hsl(0, 1%, 90%);
  border-radius: 0 10px 10px 10px;
}

#HL_3 {
  position: absolute;
  width: 300px;
  left: 490px;
  bottom: 10px;
  font-family: Lora;
  line-height: 60px;
  font-size: 40px;
  font-weight: 800;
  color: black;
  background-color: hsl(0, 1%, 90%);
  border: 10px solid hsl(0, 1%, 90%);
  border-radius: 10px;
}

.notable {
  display: flex;
  flex-direction: row;
}

.experience {
  display: flex;
  flex-direction: row;
}

.training {
  display: flex;
  flex-direction: row;
}

.quote {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-content: center;
  font-size: 30px;
  font-family: Lora;
  color: black;
  background: black;
}

.text {
  width: 500px;
  padding: 20px;
  background: black;
  font-family: Copse;
  color: gray;
}

blockquote {
  margin-left: 0px;
  width: 100%;
  background: hsl(0, 1%, 90%);
  position: relative;
  border-radius: 10px;
}

blockquote::before {
  content: '“';
  font-size: 100px;
  color: black;
  position: absolute;
  left: 10px;
}

strong {
  color: #999;
  font-weight: 600;
}

p, ul {
  line-height: 25px;
  margin-bottom: 30px;
  margin-top: 30px;
}

li {
  list-style-type: square;
}

h2 {
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 500;
  color: hsl(0, 1%, 75%);
}

h3 {
  font-size: 20px;
  font-weight: 200;
}

h4 {
  font-family: arvo;
  font-style: italic;
  font-weight: 200;
  font-size: 15px;
  margin-top: -10px;
  margin-bottom: -10px;
}

#quote_1 {
  padding: 30px;
}

#quote_2 {
  padding: 30px;
}

#quote_3 {
  padding: 30px;
}